<ul class="nav nav-tabs" role="tablist" style="margin: 0 0 15px;">
  {% url 'core_user_profile' as core_user_profile_url %}
  <li {% if core_user_profile_url == request.path %}class="active"{% endif %}><a href="{{ core_user_profile_url }}">Profile</a></li>
  
  {% url 'core_user_parameter' as core_user_parameter_url %}
  <li {% if core_user_parameter_url == request.path %}class="active"{% endif %}><a href="{{ core_user_parameter_url }}">Parameter</a></li>

  {% url 'core_user_activity' as core_user_activity_url %}
  <li {% if core_user_activity_url == request.path %}class="active"{% endif %}><a href="{{ core_user_activity_url }}">Activity</a></li>
</ul>
