{% extends "base.html" %}

{% block doctitle %}
Activity
{% endblock %}


{% block content %}
<h2>Team - {{ organization }}</h2>

{% include "threebot/preferences/organization/_tab_navigation.html" %}
<div class="row">
  <div class="col-lg-8">
    <h3 id="log-history">Log History {% if logs %}(latest {{ logs|length }}){% endif %}</h3>
    <div class="row">
      <div class="col-lg-8">
        {% if logs %}
        {% for log in logs %}
        <p>
          <span class="glyphicon workflow-{{ log.get_exit_code_display }}"></span>
          <a href="{{ log.get_absolute_url }}">{{ log }}</a>
        </p>
        {% endfor %}
        {% else %}{# no logs #}
        <div class="alert alert-warning" role="alert">Sorry, No Logs found.</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
