{% extends "base.html" %}

{% block doctitle %}
Organization settings
{% endblock %}


{% block content %}
<h2>Team - {{ organization }}</h2>

{% include "threebot/preferences/organization/_tab_navigation.html" %}

<form action="." method="post" accept-charset="utf-8">
  {{ formset.management_form }}
  {% csrf_token %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Data Type*</th>
        <th>Name*</th>
        <th>Value*</th>
        <th>Delete?</th>
      </tr>
    </thead>
    <tbody>
    {% for form in formset %}
      <tr>
        <td>
          {% if form.errors %}
          {{ form.errors }}
          {% endif %}
          {{ form.parameter_ptr }}
          {{ form.owner }}
          {{ form.data_type }}
        </td>
        <td>{{ form.name }}</td>
        <td>{{ form.value }}</td>
        {# this is a hack to check if instance was saved and can be deleted #}
        {% if form.instance.owner %}
        <td>{{ form.DELETE }}</td>
        {% else %}
        <td></td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <p>
    <input type="submit" class="btn btn-primary" name="save" value="Save" />
  </p>
</form>

<h3>Lists</h3>
<ul class="list-unstyled">
{% for list in lists %}
<li><a href="{% url 'core_organization_parameter_list' organization.slug list.id %}">{{ list.title }}</a></li>
{% empty %}
---
{% endfor %}
</ul>
{% endblock %}
