{% extends "base.html" %}

{% block doctitle %}
Organization settings
{% endblock %}


{% block content %}
<h2>Team - {{ organization }}</h2>

{% include "threebot/preferences/organization/_tab_navigation.html" %}

<h3>ParameterList - {{ list.title }}</h3>

<form action="." method="post" accept-charset="utf-8">
  {{ formset.management_form }}
  {% csrf_token %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Data Type*</th>
        <th>Name*</th>
        <th>Value*</th>
      </tr>
    </thead>
    <tbody>
    {% for form in formset %}
      <tr>
        <td>
          {{ form.errors }}
          {{ form.parameter_ptr }}
          {{ form.owner }}
          {{ form.data_type }}
        </td>
        <td>{{ form.name }}</td>
        <td>{{ form.value }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <p>
    <input type="submit" class="btn btn-primary" name="save" value="Save" />
    <button type="submit" class="btn btn-danger pull-right disabled" name="_delete" value="_delete"><span class="glyphicon glyphicon-trash"></span> Delete selected</button>
  </p>
</form>
{% endblock %}
