{% extends "base.html" %}

{% block doctitle %}
Configure, Build and Perform
{% endblock %}

{% block content %}
<h2>3bot</h2>
<blockquote>
  <p>Configure, Build and Perform</p>
</blockquote>
<div class="row">
    {% if my_logs %}
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">My Log History</h3>
            </div>
            <div class="panel-body">
                Latest Workflows perfomed by you
            </div>
            <table class="table table-hover">
                {% for log in my_logs %}
                <tr>
                    <td><span class="glyphicon workflow-{{ log.get_exit_code_display }}"></span></td>
                    <td>{{ log.date_created|date:"d.m.y H:i"  }}</td>
                    <td><a href="{{ log.get_absolute_url }}">{{ log.workflow|truncatechars:50 }}</a></td>
                    <td>{{ log.performed_by }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}

    {% if team_logs %}
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Team Log History</h3>
            </div>
            <div class="panel-body">
                Latest Workflows perfomed by your team members and you
            </div>
            <table class="table table-hover">
                {% for log in team_logs %}
                <tr>
                    <td><span class="glyphicon workflow-{{ log.get_exit_code_display }}"></span></td>
                    <td>{{ log.date_created|date:"d.m.y H:i"  }}</td>
                    <td><a href="{{ log.get_absolute_url }}">{{ log.workflow|truncatechars:50 }}</a></td>
                    <td>{{ log.performed_by }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
</div>

<div class="row">
    {% if counts %}
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Popular Workflows</h3>
            </div>
            <div class="panel-body">
                Most performed Workflows
            </div>
            <table class="table table-hover">
                {% for wf in counts %}
                <tr>
                    <td><span class="label label-info">{{ wf.issue_count }}x</span></td>
                    <td><a href="{{ wf.get_absolute_url }}">{{ wf.title|truncatechars:50 }}</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
</div>
{% if not my_log and not team_logs and not counts %}
<div class="row">
    <h3>Look like you just installed 3bot. Here is a small Todo list to get started</h3>
    <ol>
        <li><a href="{% url 'core_worker_create' %}">Configure a Worker</a>.</li>
        <li><a href="{% url 'core_task_create' %}">Create some Tasks</a>. You can find some Useful Tasks on TODO: add url to gist.github.com</li>
        <li><a href="{% url 'core_workflow_create' %}">Create a Workflow</a>.</li>
        <li>Perform/Log a Workflow.</li>
    </ol>
</div>
{% endif %}

{% endblock %}
