{% extends "base.html" %}
{% load humanize %}

{% block doctitle %}
Configure, Build and Perform
{% endblock %}

{% block content %}
<div class="row">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#team_logs" data-toggle="tab">Team Log History</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="team_logs">
        <table class="table table-hover">
          {% for log in team_logs %}
          <tr>
            <td><span class="glyphicon workflow-{{ log.get_exit_code_display }}"></span></td>
            <td title="{{ log.date_created|date:"d.m.y H:i" }}">{{ log.date_created|naturaltime }}</td>
            <td><a href="{{ log.get_absolute_url }}">{{ log.workflow|truncatechars:50 }}</a></td>
            <td><span class="label label-default">{{ log.performed_by }}</span></td>
            <td><a href="{{ log.performed_on.get_absolute_url }}" class="label label-default">{{ log.performed_on|truncatechars:12 }}</a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

{% if not team_logs %}
<h2>3bot</h2>
<blockquote>
  <p>Configure, Build and Perform</p>
</blockquote>

<div class="row">
    <h3>Looks like you just installed 3bot. Here is a small Todo list to get started</h3>
    <ol>
        <li><a href="{% url 'core_worker_create' %}">Configure a Worker</a>.</li>
        <li><a href="{% url 'core_task_create' %}">Create some Tasks</a>. You can find some Useful Tasks on TODO: add url to gist.github.com</li>
        <li><a href="{% url 'core_workflow_create' %}">Create a Workflow</a>.</li>
        <li>Perform/Log a Workflow.</li>
    </ol>
</div>
{% endif %}

{% endblock %}
