<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if request.session.currOrg %} {{ request.session.currOrg.name }}{% else %} Organisation wählen {% endif %} <b class="caret"></b></a>
	<ul class="dropdown-menu">
        {% for o in orgs %}
      <li><a href="/3bot/orgswitcher/{{ o.slug }}/">
          {% ifequal request.session.currOrg o %}
              <b>{{ o.name }}</b>
          {% else %}
              {{ o.name }}
          {% endifequal %}
      </a></li>
      {% endfor %}
    </ul>