{% extends "threebot/worker/detail_base.html" %}
{% load staticfiles %}
{% load sekizai_tags %}
{% load threebot_tags %}

{% block inner_content %}
<div class="row">
  <div class="col-lg-8">
    <p>Your Worker settings are now saved to the database. To finish the setup head over to <a href="https://github.com/3bot/3bot-worker/tree/develop#setupinstallation">https://github.com/3bot/3bot-worker/tree/develop#setupinstallation</a> to setup a worker script on your mashine.</p>

    <p>After finishing the installation on the worker mashine, refresh this page and the accessible-icon obove should change.</p>

    <!-- <p><a href="#" type="button">[TODO] email this instruction to ...</a></p> -->
  </div>
</div>
{% endblock %}
