{% extends "base.html" %}
{% load sekizai_tags %}

{% block doctitle %}
all Worker
{% endblock %}


{% block content %}
<h2>
  Workers
  <span class="pull-right">
    <a href="{% url 'core_worker_create' %}" type="button" class="btn btn-primary btn-sm">Add Worker</a>
  </span>
</h2>
<p>
  <small>Workers are mashines the workflows are performed on. Select the Worker you want to edit.</small>
</p>

{% if workers %}
<table class="table table-hover">
  <thead>
        <tr>
            <th></th>
            <th class="hidden-xs">IP</th>
            <th class="hidden-xs">Port</th>
            <th>Status</th>
            <th>Team</th>
            <th></th>
        </tr>
    </thead>
  {% for worker in workers %}
  <tr>
    <td><a href="{{ worker.get_absolute_url }}">{{ worker.title }}</a></td>
    <td class="hidden-xs"><small>{{ worker.ip }}</small></td>
    <td class="hidden-xs"><small>{{ worker.port }}</small></td>
        <td>
            <span data-worker-id="{{ worker.id }}" class="worker-status"></span>
        </td>
        <td>{{ worker.owner }}</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
              <span class="glyphicon glyphicon-cog"></span>
              <span class="caret"></span>
            </button>
              {% include 'threebot/worker/_worker_actions_menu.html' %}
          </div>
        </td>
  </tr>
{% endfor %}
</table>

{% else %}
<div class="alert alert-warning" role="alert"><strong>No Workers!</strong> Go ahead and create some</div>
<a href="{% url 'core_worker_create' %}" type="button" class="btn btn-primary btn-lg">Add Worker</a>
{% endif %}

{% addtoblock "js" %}
<script>
var status_templates = {};
status_templates.muted = '<span class="glyphicon glyphicon-pause" style="color: blue;"></span>'
status_templates.online = '<span class="glyphicon glyphicon-ok-sign" style="color: green;">'
status_templates.offline = '<span class="glyphicon glyphicon-minus-sign" style="color: red;">'
status_templates.busy = '<span class="glyphicon workflow-Pending"></span>'

$( document ).ready(function() {
  $( ".worker-status" ).each(function() {
    var origin_element = this
    var url = "/api/workers/" + $(origin_element).data("worker-id");
    $.ajax({
      type: "GET",
      async: true,
      url: url,
      success: function(resp){
        $(origin_element).html(status_templates[resp.status_display]);
      }
    });
  });
});
</script>
{% endaddtoblock %}
{% endblock %}
