/* 3bot styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

.workflow-Success, .workflow-0 {
  color: green;
}

.workflow-Success::before, .workflow-0::before {
  content: "\e133";
  font-family: 'Glyphicons Halflings';
}

.workflow-Error, .workflow-1 {
  color: red;
}

.workflow-Error::before, .workflow-1::before {
  content: "\e134";
  font-family: 'Glyphicons Halflings';
}

.workflow-Pending, .workflow-0 {
  color: orange;
}

.workflow-Pending::before, .workflow-2::before {
  content: "\e031";
  font-family: 'Glyphicons Halflings';
  -webkit-transform-origin: 50% 50%;
  transform-origin:50% 50%;
  -ms-transform-origin:50% 50%; /* IE 9 */
  -webkit-animation: spin 1.6s infinite linear;
  -moz-animation: spin 1.6s infinite linear;
  -o-animation: spin 1.6s infinite linear;
  animation: spin 1.6s infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: auto;
  background-color: #eee;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

.action-result {
    background-color: whiteSmoke;
    border-left: 5px solid #ccc;
    margin-bottom: 5px;
    padding: 5px;
}

.action-result-success {
    border-color: #5cb85c;
}

.action-result-warning {
    border-color: #f0ad4e;
}

.action-result-danger {
    border-color: #d9534f;
}
