{% extends "threebot/task/detail_base.html" %}
{% load staticfiles %}
{% load sekizai_tags %}
{% load threebot_tags %}

{% block inner_content %}
<h4>Description</h4>
<div class="row">
  <div class="col-lg-8">
    <p>
      {{ task.desc|urlize|linebreaks }}
    </p>
  </div>
</div>

<h4>Changelog</h4>
<div class="row">
  <div class="col-lg-8">
    <p>
      {{ task.changelog|urlize|linebreaks }}
    </p>
  </div>
</div>

<h4>Workflows</h4>
show in which workflows this task exists

{% endblock %}
