{% extends "base.html" %}
{% load staticfiles %}
{% load sekizai_tags %}
{% load threebot_tags %}

{% block doctitle %}
Task: {{ task }}
{% endblock %}


{% block content %}

<h2>
  Task - {{ task }}<br>
  <span class="pull-right">
    <div class="dropdown">
      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="actions-menu" data-toggle="dropdown">
        <span class="glyphicon glyphicon-cog"></span> 
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="actions-menu">
        <li role="presentation" title="Create a new Workflow including this Task."><a role="menuitem" tabindex="-1" href="{% url 'core_task_create_workflow' task.slug %}">New Workflow</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'core_task_export' task.slug %}"><span class="glyphicon glyphicon-export"></span> Export Task</a></li>
        {% my_teams request task.owner.slug as teams %}
        {% if teams %}
        <li role="presentation" class="divider"></li>
        <li role="presentation" class="dropdown-header">Clone Task</li>
        {% for team in teams %}
        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'core_task_clone' task.slug team.slug %}"><span class="glyphicon glyphicon-transfer"></span> Clone for {{ team }}</a></li>
        {% endfor %}
        {% endif %}
      </ul>
    </div>
  </span>
</h2>
<div class="row">
  <div class="col-sm-12">
    <ul class="list-inline">
      <li><strong>Team:</strong> {{ task.owner }}</li>
      <li><strong>Type:</strong> <span class="label label-default">{{ task.type }}</span></li>
    </ul>
    <p>
      <small>{{ task.desc|urlize|linebreaks }}</small>
    </p>
  </div>
</div>
  {% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
  <p class="bg-danger">{{ error }}</p>
  {% endfor %}
  {% endif %}
  <form action="." method="post" class="form-horizontal" role="form">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-group">
    <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
    <div class="col-sm-10">
      {% if field.errors %}
      {% for error in field.errors %}
      <p class="text-danger">{{ error }}</p>
      {% endfor %}
      {% endif %}
      {{ field }}
      <p class="help-block">{{ field.help_text }}</p>
    </div>
  </div>
  {% endfor %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-primary" name="_save" value="Save" />
      <input type="submit" class="btn btn-default" name="_continue" value="Save and continue editing" />
      <input type="submit" class="btn btn-default" name="_addanother" value="Save and add another" />
      <a href="{% url 'core_task_delete' task.slug %}" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-trash"></span> Delete</a>
    </div>
  </div>
</form>

{% addtoblock "js" %}
    <script src="{% static 'threebot/js/select2/select2.min.js' %}"></script>
{% endaddtoblock "js" %}


{% endblock %}
