{% extends "base.html" %}
{% load threebot_tags %}
{% load sekizai_tags %}

{% block doctitle %}
all Tasks
{% endblock %}


{% block content %}
<h2>
	Tasks
    <span class="pull-right">
        <a href="{% url 'core_task_create' %}" type="button" class="btn btn-primary btn-sm">Add Task</a>
        <a href="{% url 'core_task_import' %}" type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-import"></span> Import Task</a>
    </span>
</h2>
<p>
	<small>Tasks are Scripts. Many Tasks are combined in a Workflow. Select the Task you want to edit.</small>
</p>

{% if tasks %}
<div class="input-group" style="margin-bottom: 20px;"><span class="input-group-addon">Filter</span>
    <input id="filter" type="text" class="form-control" onkeydown="clear_input(event, this);" placeholder="Type here..." autofocus>
</div>

<table class="table table-hover">
	<thead>
  	<tr>
      <th></th>
      <th class="hidden-xs hidden-sm">Description</th>
      <th class="hidden-xs">Type</th>
      <th>Readonly</th>
      <th>Built-In</th>
      <th>Team</th>
      <th></th>
  	</tr>
    </thead>
    <tbody class="searchable">
    	{% for task in tasks %}
    	<tr id="{{ task.id }}">
    		<td>
          {% if not task.is_builtin and not task.is_readonly %}
            <a href="{{ task.get_absolute_url }}">{{ task.title }}</a>
          {% elif not task.is_builtin and task.is_readonly and task.owner|can_be_administarated_by:request.user %}
            <a href="{{ task.get_absolute_url }}">{{ task.title }}</a>
          {% else %}
            {{ task.title }}
          {%endif%}
        </td>
        <td class="hidden-xs hidden-sm">
          <span title="{{ task.desc }}">
            <small>
              {{ task.desc|default:"---"|truncatechars:75 }}
            </small>
          </span>
        </td>
        <td class="hidden-xs"><small><span class="label label-default">{{ task.type }}</span></small></td>
    	  <td>
          {% if task.is_readonly %}
          <span class="glyphicon glyphicon-ok-sign"></span>
          {% else %}
          <span class="glyphicon glyphicon-minus-sign"></span>
          {% endif %}
        </td>
    	  <td>
          {% if task.is_builtin %}
          <span class="glyphicon glyphicon-ok-sign"></span>
          {% else %}
          <span class="glyphicon glyphicon-minus-sign"></span>
          {% endif %}
          </td>
        <td>{{ task.owner }}</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
              <span class="glyphicon glyphicon-cog"></span>
              <span class="caret"></span>
            </button>
            {% include 'threebot/task/_task_actions_menu.html' %}
          </div>
        </td>
    	</tr>
      {% endfor %}
    </tbody>
</table>

{% else %}
<div class="alert alert-warning" role="alert"><strong>No Tasks!</strong> Go ahead and create some</div>
<a href="{% url 'core_task_create' %}" type="button" class="btn btn-primary btn-lg">Add Task</a>
{% endif %}

{% addtoblock "js" %}
<script type="text/javascript">
$(document).ready(function () {
    (function ($) {
        $('#filter').keyup(function () {
            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();
        })
    }(jQuery));
});

function clear_input(evt, input) {
    var code = evt.charCode || evt.keyCode;
    if (code == 27) { //esc
        input.value = '';
    }
}

</script>
{% endaddtoblock %}

{% endblock %}
