{% load threebot_tags %}

<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="task action menu">
  <li role="presentation" tabindex="-1"><a href="{% url 'core_workflow_detail_edit' workflow.slug %}">Edit</a></li>
  <li role="presentation" tabindex="-1"><a href="{% url 'core_workflow_detail_reorder' workflow.slug %}">Reorder</a></li>

  {% url 'hook_list' workflow.slug as hooks_url %}
  {% if hooks_url %}
  <li role="presentation" tabindex="-1"><a href="{{ hooks_url }}">Hooks</a></li>
  {% else %}
  <li class="disabled" role="presentation" tabindex="-1"><a href="#" title="Seems like the threebot_hook package is not installed.">Hooks</a></li>
  {% endif %}
</ul>
