{% extends "threebot/workflow/detail_base.html" %}
{% load staticfiles %}
{% load sekizai_tags %}
{% load threebot_tags %}

{% block inner_content %}
<div class="row">
  {% if workflow_tasks %}
  <div class="col-lg-6">
  <form method="post" action="." id="workflow_form" class="form-horizontal" role="form">
    {% csrf_token %}
  <h3>Worker(s)</h3>
    {% if worker_form.non_field_errors %}
    {% for error in worker_form.non_field_errors %}
    <p class="bg-danger">{{ error }}</p>
    {% endfor %}
    {% endif %}

    {% for field in worker_form %}
      {% if field.errors %}
      {% for error in field.errors %}
      <p class="text-danger">{{ error }}</p>
      {% endfor %}
      {% endif %}
    {{ field }}
    {% endfor %}

  <h3>Tasks</h3>
  {% for wt in workflow_tasks %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{ wt.task.title }}
          <small>
            {% if wt.task.is_readonly or wt.task.is_builtin %}
            {% else %}
            <a href="{{ wt.task.get_absolute_url }}">view Details</a>
            {% endif %}
          </small>
        </h3>
      </div>
      <div class="panel-body">
        {% if wt.form %}
            {% for field in wt.form.visible_fields %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{{ field.label }}</label>
              <div class="col-sm-8">
                {{ field }}
              </div>
              <div class="col-sm-1 control-label">
                <a data-toggle="modal" data-target="#newParameterModal">
                  <span title="Create new User Parameter." class="show-tooltip glyphicon glyphicon-plus-sign"></span>
                </a>
              </div>
            </div>
            {% endfor %}
        {% else %}
          <p><strong>No Inputs required</strong></p>
        {% endif %}
        {% if wt.task.is_readonly or wt.task.is_builtin %}
        {% else %}
        <textarea class="form-control" rows="3" readonly>{{ wt.task.template }}</textarea>
        {% endif %}
      </div>
    </div>
    {% for field in wt.form.hidden_fields %}
        {{ field }}
    {% endfor %}
  {% endfor %}
    <input type="submit" id="perform_workflow" class="btn btn-success btn-lg btn-block" value="Perform" style="margin-bottom: 20px;">
  </form>
  </div>
  <div class="col-lg-6">
    <h3>Log History</h3>
    {% if logs %}
    {% for log in logs %}
    <p>
      <span class="glyphicon workflow-{{ log.get_exit_code_display }}"></span>
      <a href="{{ log.get_absolute_url }}">{{ log }}</a>
    </p>
    {% endfor %}
    <p>
      <small><a href="{% url 'core_workflow_detail_digest' workflow.slug %}">View more</a></small>
    </p>
    {% else %}{# no logs #}
    <div class="alert alert-warning" role="alert">Sorry, No Logs found.</div>
    {% endif %}

  </div>
  {% else %}
  <div class="col-sm-6">
    <div class="alert alert-warning" role="alert"><strong>No Tasks</strong> in this Workflow.</div>
    <a href="{% url 'core_workflow_detail_reorder' workflow.slug %}" type="button" class="btn btn-primary btn-lg">Add Tasks</a>
  </div>
{% endif %}

</div>


<!-- Modal -->
<div class="modal fade" id="newParameterModal" tabindex="-1" role="dialog" aria-labelledby="Create new Parameter" aria-hidden="true">
  <div class="modal-dialog">
    <form action="{% url 'core_user_parameter' %}" method="post" class="form-horizontal" role="form">
    {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Create new Parameter</h4>
        </div>
        <div class="modal-body">
          {% for field in parameter_form.visible_fields %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
            <div class="col-sm-10">
              {% if field.errors %}
              {% for error in field.errors %}
              <p class="text-danger">{{ error }}</p>
              {% endfor %}
              {% endif %}
              {{ field }}
              <p class="help-block">{{ field.help_text }}</p>
            </div>
          </div>
          {% endfor %}
          {% for hidden in parameter_form.hidden_fields %}
            {{ hidden }}
            <input type="hidden" name="next" value="{{ request.path }}">
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" name="_save" value="Save" />
        </div>
      </div>
    </form>
  </div>
</div>

{% addtoblock "js" %}
<script type="text/javascript">
// loop each select, if nothing selected prompt user and add value to select field
$('#workflow_form').submit(function(event) {
  //event.preventDefault();
  $('select', this).each(function( index ) {
      if ($(this).val() === 'prompted.string.askme'){
        var arr = $(this).attr('id').split('.');
        var hiddenName = 'prompt_' + $(this).attr('name')
        var fieldname = arr[2];
        var type = arr[1];
        var value = prompt('Please enter a value for "' + fieldname + '"', fieldname);
        if (value === null || value == null || value === "") {
          alert("All fields are required. Enter a value or select a Parameter form the database and click Perform again.");
          event.preventDefault();
        };
        $('input[name="' + hiddenName + '"]').val('prompt.' + type + '.' + value);
      }
  });
});

$(function() {
    $('.show-tooltip').tooltip({placement: 'bottom'});
});

</script>
{% endaddtoblock %}

{% endblock %}
