{% extends "threebot/workflow/detail_base.html" %}
{% load staticfiles %}
{% load sekizai_tags %}
{% load threebot_tags %}

{% block inner_content %}
<div class="row">
  <div class="col-lg-8">
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="bg-danger">{{ error }}</p>
    {% endfor %}
    {% endif %}
    <form action="." method="post" class="form-horizontal" role="form">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
        <div class="col-sm-10">
          {% if field.errors %}
          {% for error in field.errors %}
          <p class="text-danger">{{ error }}</p>
          {% endfor %}
          {% endif %}
            {{ field }}
          <p class="help-block">{{ field.help_text }}</p>
        </div>
      </div>
      {% endfor %}
      <div class="form-group">
        <div class="col-sm-offset-2 col-lg-10">
          <input type="submit" class="btn btn-primary" name="_save" value="Save" />
          <input type="submit" class="btn btn-default hidden-xs" name="_continue" value="Save and continue editing" />
          <input type="submit" class="btn btn-default hidden-xs" name="_addanother" value="Save and add another" />
          <a href="#delete_modal" data-toggle="modal" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-trash"></span> Delete</a>
        </div>
      </div>
    </form>
  </div>
</div>

{% include 'threebot/workflow/_delete_modal.html' %}

{% endblock %}
