{% extends "base.html" %}
{% load threebot_tags %}
{% load sekizai_tags %}

{% block doctitle %}
all Workflows
{% endblock %}


{% block content %}
<h2>
	Workflows
	<span class="pull-right">
		<a href="{% url 'core_workflow_create' %}" type="button" class="btn btn-primary btn-sm">Add Workflow</a>
	</span>
</h2>
<p>
	<small>Workflows are lists of Tasks that are performed in sequence. Select the Workflow you want to perform or edit.</small>
</p>

{% if workflows %}
<div class="input-group" style="margin-bottom: 20px;"><span class="input-group-addon">Filter</span>
    <input id="filter" type="text" class="form-control" onkeydown="clear_input(event, this);" placeholder="Type here..." autofocus>
</div>

<table class="table table-hover">
	<thead>
      	<tr>
            <th></th>
            <th class="hidden-xs hidden-sm">Description</th>
            <th class="hidden-xs hidden-sm" title="Nubmer of Tasks">Tasks</th>
            <th>Last performed on</th>
            <th>Team</th>
            <th></th>
            <th></th>
      	</tr>
    </thead>
	<tbody class="searchable">
	{% for workflow in workflows %}
	<tr>
		<td><a href="{{ workflow.get_absolute_url }}">{{ workflow.title }}</a></td>
        <td class="hidden-xs hidden-sm">
            <span title="{{ workflow.desc }}">
                <small>
                    {{ workflow.desc|default:"---"|urlize|truncatechars:100 }}
                </small>
            </span>
        </td>
        <td>{{ workflow.number_of_tasks }}</td>
        {% get_last_worker_for request workflow as workers %}
        <td>{% for worker in workers %}{{ worker.title|default:"---" }}, {% endfor %}</td>
        <td>{{ workflow.owner }}</td>
        {% get_presets_for request workflow as presets %}
		<td>
            {% if presets.all_presets_set and worker.is_accessible %}
			<a href="{{ workflow.get_absolute_url }}#perform_workflow"><span title="This Workflow can be performed without any further interaction. This will use your last saved settings and worker." class="glyphicon glyphicon-play-circle"></span></a>
            {% endif %}
		</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
              <span class="glyphicon glyphicon-cog"></span> 
              <span class="caret"></span>
            </button>
              {% include 'threebot/workflow/_workflow_actions_menu.html' %}
          </div>
        </td>
	</tr>
	{% endfor %}
	</tbody>
</table>

{% else %}
<div class="alert alert-warning" role="alert"><strong>No Workflows!</strong> Go ahead and create some</div>
<a href="{% url 'core_workflow_create' %}" type="button" class="btn btn-primary btn-lg">Add Workflow</a>
{% endif %}


{% addtoblock "js" %}
<script type="text/javascript">
$(document).ready(function () {
    (function ($) {
        $('#filter').keyup(function () {
            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();
        })
    }(jQuery));
});

function clear_input(evt, input) {
    var code = evt.charCode || evt.keyCode;
    if (code == 27) { //esc
        input.value = '';
    }
}
</script>
{% endaddtoblock %}

{% endblock %}
